{% extends 'base.html' %}

{% block title %}Товары{% endblock %}

{% block content %}
    <h1>Товары</h1>

    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Применить фильтры</button>
    </form>

    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product_detail' product.pk %}">
                    {{ product.name }} - {{ product.price }}$
                </a>
                {% if product.stock > 0 %}
                    <p>В наличии на складе: {{ product.stock }}</p>
                {% else %}
                    <p>Нет в наличии</p>
                {% endif %}
            </li>
        {% empty %}
            <li>Нет товаров по указанным фильтрам.</li>
        {% endfor %}
    </ul>
{% endblock %}