{% extends 'base.html' %}

{% block title %}Удалить товар{% endblock %}

{% block content %}
    <h1>А вы точно уверены, что хотите удалить товар</h1>
    <h1>"{{ product.name }}"?</h1>

    <p>Цена: {{ product.price }}</p>
    <p>Производитель: {{ product.manufacturer.name|default:"ХЗ че-за компания" }}</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">ДААА, удалить!</button>
        <a href="{% url 'product_list' %}">СТОООП, отмена!</a>
    </form>
{% endblock %}

