<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Магаз {% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'product_list' %}">Товары</a></li>
                <li><a href="{% url 'product_create' %}">Добавить товар</a></li>
            </ul>
        </nav>
    </header>

    <div>
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>Всего товаров: {{ products|length }}</p>
    </footer>
</body>
</html>